@import "tailwindcss";

@theme {
    --color-frostGray: hsl(210, 10%, 89%);
    --color-cloudedSteel: hsl(220, 9%, 83%);
    --color-slateMist: hsl(223, 11%, 60%);
    --color-ashenGray: hsl(210, 6%, 60%);
    --color-azureRadiance: hsl(211, 100%, 50%);
    --color-electricAzure: hsl(211, 98%, 47%);
    --color-deepSpaceBlue: hsl(222, 40%, 21%);
    --color-midnightBlue: hsl(222, 29%, 17%);
    --color-gunMetal: hsl(216, 28%, 12%);
}

body {
    font-family: 'Space Mono', monospace;
}

/* Light theme overrides */
body.light-theme {
  --color-frostGray: hsl(210, 10%, 30%);
  --color-cloudedSteel: hsl(220, 9%, 40%);
  --color-slateMist: hsl(223, 11%, 45%);
  --color-ashenGray: hsl(210, 6%, 40%);
  --color-azureRadiance: hsl(211, 100%, 40%);
  --color-electricAzure: hsl(211, 98%, 42%);
  --color-deepSpaceBlue: hsl(210, 50%, 90%);
  --color-midnightBlue: hsl(210, 50%, 95%);
  --color-gunMetal: hsl(210, 50%, 85%);
  background-color: var(--color-midnightBlue);
  color: var(--color-frostGray);
}

body.light-theme h1.text-white,
body.light-theme #theme-text,
body.light-theme .fa-sun {
  color: var(--color-electricAzure) !important;
}